@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
  background-color: lightblue;
  font-family: "Fira Sans";
  font-weight: 400;
  font-size: 18px;
}

.links {
  padding-bottom: 7px;
}

.jewel {
  padding-left: 28px;
  padding-top: 3px;
}

.footer {
  font-size: 12px;
  position: fixed;
  text-align: left;
  bottom: 5px;
  width: 100%;
}

.box {
  width: 575px;
  display: table;
  position: relative;
  margin: 10px;
}
